.info { background-color: #468847; }
.inverse { background-color: #333; }
.important { background-color: #b94a48; }
.neutral { background-color: #eee; }
.success { background-color: #3a87ad; }
.warning { background-color: #f89406; }

.text-info { color: #468847; }
.text-inverse { color: #333; }
.text-important { color: #b94a48; }
.text-neutral { color: #eee; }
.text-success { color: #3a87ad; }
.text-warning { color: #f89406; }