/* 
 * Normalize
 * https://github.com/CoryMathews/normalize.css fork of http://necolas.github.com/normalize.css/ 
 */
	article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}h1{font-size:2em;margin:0.67em 0;}h2{font-size:1.5em;margin:0.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:0.83em;margin:1.67em 0;}h6{font-size:0.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q:before,q:after{content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;white-space:normal;padding:0;}button,input,select,textarea{font-size:100%;vertical-align:baseline;margin:0;}button,input{line-height:normal;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}button[disabled],input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}audio:not([controls]),[hidden]{display:none;}

/* Base 
================================================== */
	/* general */
		body, input { font:16px "OpenSans", Helvetica, Arial, sans-serif; line-height:1.5em; }
		::selection{ text-shadow:none; }

		p { padding:.25rem 0; }
		p img { margin: 0; }
		
		a { text-decoration: underline; }
		a:hover { }

		address {
		  display: block;
		  margin-bottom:1rem;
		  font-style: normal;
		  line-height: 1.25rem;
		}

		ul li { list-style:disc; }

		dt { font-weight:bold; }
		dd { margin-left:1rem; }

		code, pre {
			padding:.1rem .3rem;
			font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
			background-color: #eee;
		}

		small { 
	      font-size:.8rem; 
	    }

	    pre {
	      display: block;
	      font-size: .8rem;
	      background-color: #eee;
	      overflow-y:scroll;
	      max-height:20rem;
	    }

	/* blockquote */
	    blockquote {
	      padding: 0 0 0 1rem;
	      margin: 0 0 1rem;
	      border-left:5px solid #eee;
	    }

	    blockquote p {
	      margin-bottom: 0;
	    }

	    blockquote small {
	      display: block;
	      color: #999;
	      font-size:1rem;
	    }

		blockquote small:before {
		  content: '\2014 \00A0';
		}

		blockquote.pull-right {
		  float: right;
		  padding-right: 1rem;
		  padding-left: 0;
		  border-right: 5px solid #eeeeee;
		  border-left: 0;
		}

		blockquote.pull-right p,
		blockquote.pull-right small {
		  text-align: right;
		}
	
  	/* #Typography */
		h1, h2, h3, h4, h5, h6 { 
			font-weight:normal;
		}
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

		h1 {
			font-size: 2.2rem;
			margin:2.2rem 0 1.1rem 0;
		}
		h2 {
			font-size: 1.6rem;
			margin:1.6rem 0 .8rem 0;
		}
		h3 { 
			font-size: 1.45rem;
			margin:1.45rem 0 .7rem 0;
		}
		h4, h5, h6 { 
			font-size: 1.2rem;
			margin:1.2rem 0 .6rem 0;
		}
	
/* State 
================================================== */
	/* General */
		.clear { clear:both; }
		.none { display:none; }
		.noprint { }
		.aligncenter {
			margin:0 auto;
			display:block;
		}
		.alignleft { float:left; }
		.alignright { float:right; }
		.pad { padding:5px; }
		.center { text-align:center; }

	/* Colors */
		.info { background-color: #468847; }
		.inverse { background-color: #333; }
		.important { background-color: #b94a48; }
		.neutral { background-color: #eee; }
		.success { background-color: #3a87ad; }
		.warning { background-color: #f89406; }

		.text-info { color: #468847; }
		.text-inverse { color: #333; }
		.text-important { color: #b94a48; }
		.text-neutral { color: #eee; }
		.text-success { color: #3a87ad; }
		.text-warning { color: #f89406; }

	/* Messages */
		.error {
			background:#f5d4d4;
			border:1px solid #f00;
			border-width:1px 0;
			color:#333;
			margin:5px;
			padding:8px 0;
		}
		.success {
			background:#b7d1e1;
			border:1px solid #4b8db3;
			border-width:1px 0;
			color:#333;
			margin:5px;
			padding:8px 0;
			text-align:center;
		}	

/* Structure 
================================================== */
	/* General */
		#main:after { clear:both; }
		.box { 
			display:block;
			margin:0 auto;
			max-width:960px;
			padding:0;
			width:100%;
		}

	/* Grid */
		.w100.pad,
	    .w90.pad, 
	    .w80.pad, 
	    .w70.pad, 
	    .w66.pad, 
	    .w60.pad, 
	    .w50.pad, 
	    .w40.pad, 
	    .w34.pad, 
	    .w33.pad, 
	    .w30.pad, 
	    .w25.pad, 
	    .w20.pad,
	    .w10.pad { padding:1%; }
	    .w100,
	    .w90,
	    .w80,
	    .w70, 
	    .w66,
	    .w60,
	    .w50, 
	    .w40,
	    .w34,
	    .w33,
	    .w30, 
	    .w25, 
	    .w20,
	    .w10 { 
	      -moz-box-sizing:border-box;
	      -webkit-box-sizing:border-box;
	      box-sizing:border-box;
	      display:inline-block;
	      margin-right:-.24rem; /* hackityhackhack */
	      vertical-align:top;
	    }
	    .w100 { width:100%; }
	    .w90 { width:90%; }
	    .w80 { width:80%; }
	    .w70 { width:70%; }
	    .w66 { width:66%; }
	    .w60 { width:60%; }
	    .w50 { width:50%; }
	    .w40 { width:40%; }
	    .w34 { width:34%; }
	    .w33 { width:33%; }
	    .w30 { width:30%; }
	    .w25 { width:25%; }
	    .w20 { width:20%; }
	    .w10 { width:10%; }

/* Modules 
================================================== */
  	/* Horizontal Nav */
	  	ul.navigation {
	  		margin:0;
	  		padding:0;
	  		width:100%;
	  	}
		ul.navigation li {
			list-style:none;
			position:relative;
		}
		ul.navigation.horizontal li { 
			display:inline-block;
		}
		ul.navigation li a {
			padding:.5rem .75rem;
			text-decoration:none;
			display:block;
			background: #EEE;
		}
		ul.navigation li a:hover, 
		ul.navigation li a:focus { background:#DCDCDC; }
		ul.navigation li a.current { font-weight: bold; }

		ul.navigation li ul { 
			display:none;
			position:absolute;
			margin:0;
			padding:0;
			text-align:left;
			top:46px;
			z-index:9;
		}
	  	ul.navigation li:hover ul {
	  		display:block;
	  	}
	    ul.navigation li ul li { padding:0; }
	    ul.navigation li ul li a { 
	    	display:block;
	    	margin:0;
	    	width:250px;
	    }
	    ul.navigation li ul li a:hover {  }

	/* Tabs */
		.tabs { 
			margin:0; 
		}
		.tab-content,
		.tabs div div { 
			min-height: 200px; 
		}
	    .tab-content { 
	    	position: relative; 
	    }
	    .tabs div div { 
	    	-moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
	    	padding: 20px;
	    	position: absolute;
	    	top: -1px;
	    	left: 0;
	    	width: 100%;
	    	background:#fff;
	    }
	    .tabs div div, 
	    .tabs li a { 
	    	border: 1px solid #ccc; 
	    }
	    #tab-1:target, 
	    #tab-2:target, 
	    #tab-3:target { z-index: 1; }

    /* Accordion */
	    .accordion {}
	    .accordion h3 {
	    	border: 1px solid #ccc; 
	    	margin:0;
	    	padding:1rem .5rem;
	    }
	    .accordion .item {
	    	display:none;
	    }
	    .accordion .item.current {
	    	display:block;
	    }

  	/* Forms */
	    .formitem, 
	    .formitem-split,
	    .inp,
	    label { 
	        -moz-box-sizing:border-box;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			display:inline-block;
			margin-right:-.5em;
			vertical-align:top;
	    }
	    .formitem {  
	        width:100%;
	        padding:.25rem;
	        margin-bottom:.25rem;
	    }
	    .formitem-split {
	    	width:66%;
	        padding:.25rem;
	        margin-bottom:.25rem;
	        margin-left:33%;
	    }
		.formitem label {
	        text-align:right;
	        padding:.25rem 1rem 0 0;
	        width:33%;
	    }
	    .formitem-split label {
			text-align:left;
			width:100%;
	    }
	    .formitem .inp { 
	    	width:66%;
	    	
	    }
	    .formitem-split .inp { 
	    	width:100%;
	    	
	    }
	    .formitem .inp input,
	    .formitem-split .inp input {
	        background-color: #FFF;
	        border:1px solid #ccc;
	        box-shadow:inset 0 1px 1px #F9F9F9;
	        border-radius:3px;
	        color:#555;
	        margin-bottom:9px;
	        padding:0.5rem 0;
	        width:100%;
	    }
	    .formitem .inp input[type=checkbox],
	    .formitem .inp input[type=radio],
	   	.formitem-split .inp input[type=checkbox],
	    .formitem-split .inp input[type=radio] {
	        width:1rem;
	        height:1rem;
	        margin:4px 1rem 0 0;
	    }

	    select {
	    	padding:10% 10px;
	    	background-color: #FFF;
	        border:1px solid #ccc;
	        box-shadow:inset 0 1px 1px #F9F9F9;
	        border-radius:3px;
	        color:#555;
	    }
	    select[multiple=multiple] {
	    	padding-left:10%;
	    	width:110%;
	    }

	    input[disabled] {
	    	cursor:not-allowed;
	    }

	    /* Full form */
		    .full-form .formitem, 
		    .full-form .formitem-split { width:100%; }
		    
		    .full-form .formitem,
		    .full-form .formitem-split { 
		        padding:.25rem;
		        margin-bottom:.25rem;
		        margin-left:0;
		    }
			.full-form .formitem label,
			.full-form .formitem-split label {
		        display:none;
		        padding:.25rem 1rem 0 0;
		        width:100%;
		    }
		    .full-form .formitem label.show,
			.full-form .formitem-split label.show {
				display:block;
				text-align:left;
		    }
		    .full-form .formitem .inp,
		    .full-form .formitem-split .inp {
		        width:100%;
		    }
		    .full-form .formitem .inp input,
		    .full-form .formitem-split .inp input {
		        background-color: #FFF;
		        border:1px solid #ccc;
		        box-shadow:inset 0 1px 1px #F9F9F9;
		        border-radius:3px;
		        color:#555;
		        margin-bottom:9px;
		    }
		    .full-form .formitem-split .inp input[type=checkbox] {
		        width:1rem;
		        height:1rem;
		        margin:4px 1rem 0 0;
		    }

	    /* Inline Form */
		    .inline-form .formitem, 
		    .inline-form .formitem-split { width:100%; }
		    
		    .inline-form .formitem,
		    .inline-form .formitem-split { 
		        padding:.25rem;
		        margin:0;
		        width:auto;
		        display: inline-block;
		    }
			.inline-form .formitem label,
			.inline-form .formitem-split label {
		        display:none;
		        padding:.25rem 1rem 0 0;
		        width: auto;
		    }
		    .inline-form .formitem label.show,
		    .inline-form .formitem-split label.show {
				display: inline-block;
		    }
		    .inline-form .formitem .inp,
		    .inline-form .formitem-split .inp {
		        width:auto;
		        display: inline-block;
		    }
		    .inline-form .formitem .inp input,
		    .inline-form .formitem-split .inp input {
		        background-color: #FFF;
		        border:1px solid #ccc;
		        box-shadow:inset 0 1px 1px #F9F9F9;
		        border-radius:3px;
		        color:#555;
		        margin-bottom:9px;
		        padding:0.4rem 0;
		    }
		    .inline-form .formitem-split .inp input[type=checkbox],
	    	.inline-form .formitem-split .inp input[type=radio] {
		        width:1rem;
		        height:1rem;
		        margin:4px 1rem 0 0;
		    }

	/* Tables */
		table { 
			width:100%; 
			background-color: transparent;
			border-collapse: collapse;
			border-spacing: 0px;
			max-width: 100%; 
		}
		table th { 
			font-weight: 700;
		}
		table th, table td {
			vertical-align: bottom;
			line-height: 20px;
			padding: 8px;
			text-align: left;
			border-top: 1px solid #DDDDDD;
		}
		table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
  			background-color: #f9f9f9;
		}
		table tbody tr:hover td, table tbody tr:hover th {
		  background-color: #f5f5f5;
		}
		table th, table thead td { 
			border-top: 0px none currentColor;
		}

	/* lightbox */
		.lightbox-bg {
			position:fixed;
			top:0;
			left:0;
			height:100%;
			width: 100%;
		    background-color:#000;
		    filter:alpha(opacity=60);
		    opacity:0.6;
		    display:none;
		    z-index:8;
		}
		.lightbox-content {
			width:90%;
			left:5%;
			top:5%;
			height:90%;
			position:fixed;
			background:#fff;
			display:none;
			z-index:9;
		}

	/* Label */
		.label {
			padding:.1rem .3rem .2rem;
			color: #fff;
			font-size:.8rem;
			vertical-align: middle;
			background-color: #999;
			margin:0;
		}

	/* Buttons */
		.button, input.button {
		    color: #333;
		    font-size:.9rem;
		    text-decoration: none;
		    padding: .5rem .75rem;
		    position: relative;
		    display: inline-block;
		    background: #EEE;
		    border:0;
		    border-radius:0;
		}
		.button:hover, 
		.button:hover {
		    background:#DCDCDC;
		}
		.button.left, 
		.button.middle {
		    margin:0;
		}
		.button.big {
		    font-size:1.1rem;
		    padding:.75rem 1rem;
		}

/* Fonts 
================================================== */
	@font-face {
	    font-family: 'OpenSans';
	    src: url('opensans-regular-webfont.eot');
	    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('opensans-regular-webfont.woff') format('woff'),
	         url('opensans-regular-webfont.ttf') format('truetype'),
	         url('opensans-regular-webfont.svg#OpenSansRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

/* Media 
================================================== */
	/* Print */
		@media print { 
			.noprint { display:none; }
		}

	/* Desktop */
		@media (max-width: 1280px) { 
			.box { max-width:1000px; }
		}

	/* Tablet landscape/Netbook */
		@media (max-width: 1024px) { 
			.box { max-width:1000px; }
		}

	/* Tablet portrait */
		@media (max-width: 768px) { 
			.box { max-width:768px; }
			nav[role="navigation"] li a { padding:5px; }
		}

	/* Small tablet */
		@media (max-width: 600px) { 
			.box { max-width:600px; }
			.w33, .w66 {width:100%;}
			nav[role="navigation"] li a { 
				text-align:center;
				width:100%;
			}
			nav[role="navigation"] li { 
				width:50%;
				display:inline-block;
			}
		}

	/* Mobile landscape */
		@media (max-width: 480px) { 
			.box { max-width:480px; }
			.w50 { width:100%; }
		}

	/* Mobile portrait */
		@media (max-width: 320px) { 
			.box { max-width:320px; }
		}